html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  background-color: whitesmoke;
  min-height: 100%;
  color: black !important;
}

.margin-32{
  margin-top: 32px;;
}

.margin-general{
  margin-bottom: 16px;
  margin-top: 16px;
}

/** Search */
.navBar {
  background-color: #FFE600;
  color: #777340;
  margin: 0px auto;
}

.navBarDegradeitor {
  background-color: #FBF159;
}


.botondefecto {
  background-color: #4482FF;
}
h1 {
  color: #777340;
  font-weight: 900;
}

.foo-appear {
  opacity: .01;
}

.foo-appear.foo-appear-active {
  opacity: 1;
  transition: opacity 5s ease-in;
}

.divSearchBar{
  margin: auto;
}

.btnSearch{
  height: 40px;
  border: none;
}

.nav-logo {
  background-image: url(https://http2.mlstatic.com/frontend-assets/ui-navigation/5.7.0/mercadolibre/logo__small.png);
  background-repeat: no-repeat;
  height: 28px;
  overflow: hidden;
  text-indent: -999px;
  width: 39px;
  top: 11px;
  position: absolute;
  left: 10px;
  outline: 0;
  margin-left: auto;
}

/** BreadCumb */
.breadCumb{
  max-width: 80%;
  margin: 16px auto;
}

/** Products list */

.no-records{
  text-align: center;
}

.container-img{
  width: auto;
  height: auto;
}

.imgProductList{
  width: 180px !important;
  height: 180px !important;
  border-radius: 4px !important;
  margin: 16px;
}

.list-cards{
  max-width: 80%;
  max-height: 212;
  margin: 0px auto;
}

.title-item{
  color: #000;
  font-size: 18px;
  margin-top: 32px !important;
}

.price-product{
  margin-bottom: 32px !important;
}

.item-info{
  color: #000;
  padding: 30px 0px !important; 
}

.item-city{
  color: #999999;
  font-size: 12px !important;
}

.item-price{
  font-size: 24px !important;
}

.decimals{
  margin-left: 3px;
  font-size: 16px;
  vertical-align: text-top;
}

.card-product{
  padding: 16px;
}

/* Product detail */

.image-product-detail{
  width: 680px;
}

.condition-item-detail{
  font-size: 14px;
}

.item-title-detail{
  color: #000;
  font-size: 24px !important;
  margin-top: 16px !important;
}

.price-item-detail{
  font-size: 46px;;
}

.decimals-detail{
  margin-left: 3px;
  font-size: 24px;
  vertical-align: text-top;
}

.shipping{
  margin-left: 10px;
}

.btn-comprar{
  background-color: #3483FA;
  color: #fff;
  margin-right: 32px;
  width: 90%;
}

.item-description-detail{
  margin-left: 32px;;
}

.item-description-detail h3 {
  font-size: 28px;
}

.item-description-detail p {
  font-size: 16px;
  margin-top: 32px !important;
  margin-bottom: 32px !important;
}


@media only screen and (min-width: 300px) and (max-width: 600px) {
  /* For tablets: */
  .inputSearch{
    width: 80%;
    background-color: #EEEE;
  }
  .list-cards div{
    margin-left: 20px;
  }
}

@media only screen and (min-width: 601px) and (max-width: 767px){
  /* For tablets: */
  .inputSearch{
    width: 100%;
    background-color: #EEEE;
  }
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .inputSearch{
    width: 60rem
  }
}